classification/classifier/data/*.csv
classification/classifier/results/*.csv
classification/classifier/models/*
tmf_entities/data/*
tmf_entities/.vscode/*
tmf_entities/pandas/*
ER/.ipynb_checkpoints/*
data/*
*.pkl
*.pyc
*.vec
*.pyc
.vscode/*
topicModeling/treetagger/*
nasari/*.txt
nasari/*.zip
classification/preprocessed_data/doiboost*
classification/preprocessed_data/orcid*
classification/preprocessed_data/splits/*
data_gathering/doiboost_data/*
data_gathering/orcid_data/*
classification/preprocessed_data/ethos_abs_preprocessed.csv
classification/preprocessed_data/ethos_no_abs_preprocessed.csv
classification/preprocessed_data/test_1000_preprocessed.csv
classification/data/*
classificationTMF/data/*
tmf_entities/tmf_entities_scores_UK.csv
tmf_entities/tmf_entities_scores_US.csv
*.html
topicModeling/data/tesi_US_preprocessed.csv
